html {
    font-family: 'Arvo', serif;
   
    
}

.header {
    
    display: flex;
    background-color:aqua;
    float:left; 
    flex-direction: row;
    width:30%;
    height:100vh; 
}

.header__title {
    background-color: lightcyan;
    width:50%;
    color:rgb(255, 138, 60);
    height: 100%;
    font-size: 3rem;
    writing-mode:vertical-lr;
}

.header__subtitle {
    background-color: rgb(1, 1, 77);
    width:50%;
    color:rgb(255, 253, 246);
    height: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: right;
    padding: 19rem 0.5rem 0 0;
    box-sizing: border-box;
    position: relative;
 
}

.header__photo  {
    width:100%;
    position: absolute;
    bottom:0rem;
    left:0;
    
}

.header__photo--dark  {
    width:100%;
    position: absolute;
    bottom:0rem;
    left:0;
    
}

.header__photo--dark:hover  {
    display:none;
    transition-duration: 2s;
    
    
    
}



.summary {
    float:left;
    width: 70%;
    overflow-y: auto;
    height: 100vh;
    
    

}

.summary__header {
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
}

.summary__title {
    background: rgb(248, 206, 178);
    color: rgb(1, 1, 77);
    font-size: 1.3rem;
    padding:1.3rem;
    width:80%;
    line-height: 2.6rem;
    text-align: justify;
    
}

.summary__language {
    width:20%;
    background: repeating-linear-gradient(
        to bottom,
        rgb(248, 206, 178) 0px,
        rgb(248, 206, 178) 5px,
        white 5px,
        white 10px);
    
    
}

.language__title {
    color:black;
    text-align: center;
    font-size: 1.2rem;
    padding:1rem;
    font-weight: bolder;
    background-color: aliceblue;
}

.language__flags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    
    
}

.language__flags-fr {
    width: 35%;
    filter: grayscale(70%);
}

.language__flags-uk {
    width: 35%;
    filter: grayscale(70%);
}

.language__flags-fr:hover {
    width: 35%;
    filter: none;
}

.language__flags-uk:hover {
    width: 35%;
    filter: none;
}




.summary__subtitle {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    
}


.summary__exp {
    width:100%;
    display:flex;
    flex-direction: row;
    float: right;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid rgb(255, 138, 60);
    box-sizing: border-box;

}

.exp__date {
    font-weight: bold;
    width:5%;
    writing-mode:vertical-lr;
    font-size: 1.8rem;
    text-align: center;
    line-height: center;
    padding: 0.5rem;
    box-sizing: border-box;
    height: 8rem;
   
}

.exp__img , .exp__img--maths {

    width:10%;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: transform .7s ease-in-out;

}

.exp__img:hover {
    transform: rotate(360deg);
}

.exp__img--maths:hover {
    transform: scale(0.2);
}


.exp__title {
    
    width:20%; 
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-weight: bold;
    


}

.exp__presentation {
    width:65%; 
    text-align: justify;
    font-size: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    vertical-align: middle;
    
}

.side { 
    background-color: lightcyan;
    float:right; 
    width:40%;
    height:30rem;
}

.side__title {
    display:block;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    margin-bottom:2rem;
    padding-top:1rem;
}

.side__projects {
    display:flex;
    flex-direction: row;
    text-align: center;
    font-size: 0.8rem;

}

.projects__img {
    width:10%;
    padding:0.5rem;
    box-sizing: border-box;

}

.projects__title {
    width:20%;
    padding:0.5rem;
    box-sizing: border-box;
    font-weight: bold;
}

.projects__descr {
    width:70%;
    padding:0.5rem;
    box-sizing: border-box;
}

.interests {
    float:left; 
    width:60%;
    height:30rem;

}

.interests__title {
    display:block;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    text-transform: uppercase;
    margin-bottom:2rem;
    color:rgb(255, 138, 60);
    padding-top:1rem;
}

.interests__container {

    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    
}

.interests__ecologie {
    grid-row: 1 / 20;
    grid-column: 17 / 20;
    text-align: center;
    background-color: rgb(138, 247, 128);
    text-align: justify;
    color: white;
    padding:0.5rem;

    
}

.interests__ecologie:hover {
    background-color: rgb(50, 37, 17);
}

.ecologie__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.ecologie__descr {
    line-height:1.5rem;
    text-align: left;
    
}

.interests__course {
    grid-row: 1 / 5;
    grid-column: 1 / 7;
    text-align: center;
    background-color: rgb(192, 26, 26);
    text-align: justify;
    color: white;
    padding:0.5rem;

}

.interests__bretagne {
    grid-row: 1 / 5;
    grid-column: 9 /16 ;
    text-align: center;
    background-color: black;
    text-align: justify;
    color: white;
    padding:0.5rem;

}

.interests__course-strava {
    background-image: url(../images/strava.png);
    background-position: center center;
    background-size: cover;
    grid-row: 1 / 5;
    grid-column: 7 / 9;
    transition-duration: 0.7s;

}

.interests__course-strava:hover {
    transform: scale(1.5);
}

.interests__bretagne-logo {
    grid-row: 1 / 5;
    grid-column: 16 / 17;
    background: repeating-linear-gradient(
    to bottom,
    black 0px,
    black 10px,
    white 10px,
    white 20px
  );
    height:100%;

}

.interests__GR34-2 {
    background-image: url(../images/wave1-removebg-preview.png);
    background-position: center center;
    background-size: cover;
    grid-row: 10 / 20;
    grid-column: 1 / 17;
    transition-duration: 0.7s;
    
}

.interests__GR34-2:hover {
    transform: scale(1.1);

    
}

.interests__GR34 {

    grid-row: 5 / 10;
    grid-column: 1 / 17;
    color:black;
      
}

.GR34__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align:center;
}

.GR34__descr {
    line-height: 1.2rem;
    padding: 1rem;
    text-align:justify;

}

.GR34__subtitle {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    text-align:center;
    font-style: italic;
}